[submodule "core/lib/forge-std"]
	path = core/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "products/dated-irs/lib/forge-std"]
	path = products/dated-irs/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "periphery/lib/forge-std"]
	path = periphery/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "community/lib/forge-std"]
	path = community/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "integration-tests/lib/forge-std"]
	path = integration-tests/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "access-pass-nft/lib/forge-std"]
	path = access-pass-nft/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "integration-tests/lib/murky"]
	path = integration-tests/lib/murky
	url = https://github.com/dmfxyz/murky
[submodule "integration-tests/lib/surl"]
	path = integration-tests/lib/surl
	url = https://github.com/memester-xyz/surl